<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="close-circle-outline" (click)="dismiss()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-textarea label="Name" placeholder="Type something here" [(ngModel)]="taskName"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-select label="Category" placeholder="Choose category" [(ngModel)]="taskCategory">
      <ion-select-option value="low">Low</ion-select-option>
      <ion-select-option value="high">High</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-datetime-button datetime="datetime" [(ngModel)]="taskDate"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-item>
    <ion-button expand="block" (click)="addTask()">Add new item</ion-button>
  </ion-item>
</ion-content>