<ion-header [translucent]="true"> <!-- postavljanje pozadine zaglavlja blago providno-->
  <ion-toolbar> <!-- navigaciona traka unutar zaglavlja -->
    <ion-title> <!-- naslov aplikacije/stranice -->
      <h1> Tasks</h1>
      <p class="date" size="10px">{{today | date:'fullDate'}}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let task of tasks"> <!--prolazi kroz niz tasks i kreira stavku liste za svaki objekat task u nizu -->
    <ion-card> <!-- kontejner za prikaz sadrzaja-->
      <ion-card-header> <!-- zaglavlje kartice; sadrzi naslov kartice -->
        <ion-card-title>{{task.name}}</ion-card-title> <!-- prikazuje ime samog task-a -->
        <ion-item lines="full"> <!-- zauzima celu sirinu sa linijom razdvajanja-->
          <ion-icon *ngIf="task.category === 'Low'" color="success" name="logo-ionic"></ion-icon>
          <ion-icon *ngIf="task.category === 'High'" color="danger" name="logo-ionic"></ion-icon>
          <ion-label>&nbsp;{{task.category}}</ion-label> <!-- prikaz kategrorije kojoj pripada dati task -->
        </ion-item>
      </ion-card-header>
    
      <ion-card-content> <!-- sadrzaj kontejnera -->
        <p class="date">{{today | date:'fullDate'}}</p>
        <ion-row> <!-- horizontalni kontejner za elemente -->
          <ion-item button lines="full" (click)="goToUpdatePage(task)"> <!-- kada se klikne na dugme, onda se pokrece funkcija goToUpdatePage() i kao parametar se prosledjuje objekat task-->
            <ion-icon name = "megaphone-outline"></ion-icon> <!-- ikonica za kreiranje; pogledati na sajtu -->
            <ion-label> Update</ion-label> <!-- Prikazavanje teksta Update -->
          </ion-item>

         <!-- <ion-item button lines="full" (click)="deleteTask(task)"> kada se klikne na dugme, onda se pokrece funkcija deleteTask() i kao parametar se prosledjuje objekat task
            <ion-icon name = "trash-outline"></ion-icon>
            <ion-label> Delete</ion-label> 
          </ion-item>  -->

        </ion-row>
      </ion-card-content>
    </ion-card>

  </ion-list>

  <!-- FAB je Floating Action Button -->
  <ion-fab vertical ="bottom" horizontal="end"> <!-- dugme se nalazi na dnu desno -->
    <ion-fab-button (click)="goToAddPage()"> <!-- Kada se klikne na dugme, onda se poziva funkcija goToAddPage()-->
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
